body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    gap: 2em;
  }
  
  canvas {
    border: 1px solid #ccc;
    background-color: #fff;
  }
  
  input[type="number"] {
    width: 50px;
    margin-right: 10px;
  }
  
  button {
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: space-between;
    align-items: right;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 2em;
    border-radius: 5%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .btn-criarGame {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btn-criarGame:hover {
    background-color: #45a049;
  }

.card-itens{
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.topo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }